<%- model_class = Techandsol -%>
<div class="col-md-8">
  <div class="page-header">
    <h1 align="center"><%= 'Technology and Solution' %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
    <dd><%= @techandsol.Name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:Summary) %>:</strong></dt>
    <dd><%= auto_link(@techandsol.Summary) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:Description) %>:</strong></dt>
    <dd><%= auto_link(@techandsol.Description) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:Owner) %>:</strong></dt>
    <dd><%= @techandsol.Owner %></dd>
    <dt><strong><%= model_class.human_attribute_name("Reviewed by") %>:</strong></dt>
    <dd><%= @techandsol.Reviewed %></dd>
    <!-- <dt><strong><%= model_class.human_attribute_name(:Status_id) %>:</strong></dt>
    <dd><%= @techandsol.GetStatus %></dd> -->
    <dt><strong><%= model_class.human_attribute_name(:Comments) %>:</strong></dt>
    <dd><%= auto_link(@techandsol.Comments) %></dd>
    <dt><strong><%= model_class.human_attribute_name("Action Item") %>:</strong></dt>
    <dd><%= @techandsol.Action %></dd>
    <dt><strong><%= model_class.human_attribute_name("Imperative Owner") %>:</strong></dt>
    <dd><%= @techandsol.GetOwner %></dd>
  </dl>

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                techandsols_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_techandsol_path(@techandsol), :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                techandsol_path(@techandsol),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
</div>

<div class="col-md-4" span=90></br ></br >
  <%= high_chart("my_id5", @chart5) %>
</div>
