<%- model_class = Procandeco -%>
<div class="page-header">
  <h1 align="center"><%= 'Process and Ecosystem' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
  <dd><%= @procandeco.Name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Summary) %>:</strong></dt>
  <dd><%= @procandeco.Summary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Description) %>:</strong></dt>
  <dd><%= @procandeco.Description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Owner) %>:</strong></dt>
  <dd><%= @procandeco.Owner %></dd>
  <dt><strong><%= model_class.human_attribute_name("Reviewed by") %>:</strong></dt>
  <dd><%= @procandeco.Reviewed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Status_id) %>:</strong></dt>
  <dd><%= @procandeco.GetStatus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Comments) %>:</strong></dt>
  <dd><%= @procandeco.Comments %></dd>
  <dt><strong><%= model_class.human_attribute_name("Action Item") %>:</strong></dt>
  <dd><%= @procandeco.Action %></dd>
  <dt><strong><%= model_class.human_attribute_name("Imperative Owner") %>:</strong></dt>
  <dd><%= @procandeco.GetOwner %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              procandecos_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_procandeco_path(@procandeco), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              procandeco_path(@procandeco),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
